{{ partial "header.html" . }}
<main>
	<header class="min">
		<h1>Извиняемся 🤷</h1>
		<p>Прости, что-то пошло не&nbsp;так, мы&nbsp;уже пытаемся всё исправить. Пока можешь посмотреть семь популярных игр и&nbsp;скачать какие понравятся 🔥</p>
	</header>
	<article class="min">
		<div class="rating">
			{{ range .Data.Pages.ByWeight | first 7 }}
				<div class="rating-game">
					<div class="rating-game_logo"><a href="{{ .Permalink }}" rel="nofollow"><img src="{{ .Permalink }}logo.jpg"></a></div>
					<div class="rating-game_name">
						<h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
						<p>{{ .Description }}</p>
					</div>
				</div>
			{{ end }}
		</div>
		</div>
		<p>Семь&nbsp;&mdash; счастливое число.</p>
	</article>
	{{ partial "share.html" . }}
</main>
{{ partial "footer.html" . }}